    
    <div class="row">
         <div class='col-lg-2'>
              
         </div>
         
        <div class="col-lg-10">
            <ngb-accordion [closeOthers]="true" activeIds="idx-1">
                <ngb-panel *ngFor='let deck of decks; index as i' [title]='deck.title' [id]='"idx" + i'>
                <ng-template ngbPanelContent>
                    <slides-deck-view [deck]='deck'></slides-deck-view>
                </ng-template>
            </ngb-panel>
            </ngb-accordion>
        </div>
    </div>


        