<div class="row">
    <div class="col col-lg-2">

    </div>

    <div class="col col-lg-10" *ngIf="presentation">
    <div class="row">
        <div class="col col-lg-4">
            <label>ID: </label>
        </div>
        <div class="col col-lg-8">
            <span>{{ presentation.id }}</span>
        </div>        
    </div>

    <div class="row">
        <div class="col col-lg-4">
            <label>Title: </label>
        </div>
        <div class="col col-lg-8">
            <input [(ngModel)]="presentation.title" placeholder="title…"/>
        </div>        
    </div>
    
     <div class="row">
        <div class="col col-lg-4">
         <label>Description: </label>
        </div>
        <div class="col col-lg-8">
           <!-- why is this not generating the description? -->
           <input [(ngModel)]="presentation.description" placeholder="description…"/>
        </div>            
    
    <slides-deck-link-list></slides-deck-link-list>

    </div>

    </div>

</div>