    
    <div class="row">
         <div class='col-lg-2'>
              
         </div>
         
        <div class="col-lg-10">
            <ngb-accordion [closeOthers]="true" activeIds="idx-1">
                <ngb-panel *ngFor='let presentation of presentations; index as i' [title]='presentation.title' [id]='"idx" + i'>
                <ng-template ngbPanelContent>
                    <div class="responsive-table">
                        <table class="table">
                            <tr>
                                <th>Title </th>
                                <td>{{presentation.title}}</td>
                                <th>Author</th>
                                <td>{{presentation.author}}</td>
                            </tr>
                            <tr>
                                <th>id</th>
                                <td>{{presentation.id}}</td>
                                <th>Updated</th>
                                <td>{{presentation.updated}}</td>                                
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td colspan="3">{{presentation.description}}</td>
                            </tr>
                        </table>
                    </div>
                </ng-template>
            </ngb-panel>
            </ngb-accordion>
        </div>
    </div>


        